.catalog-filter {
  display: grid;
  gap: 32px;

  ._fields {
    display: grid;
    grid-template-columns: 2fr minmax(0,1fr) minmax(0,1fr) 1.5fr;
    align-items: start;
    gap: 24px;

    @media (width < 1024px) {
      grid-template-columns: minmax(0,1fr) minmax(0,1fr);

      > :not([type=text]) {
        grid-column: 1/-1;
      }

      [type=text] {
        order: 99;
      }
    }
  }
}
