.product-favorite {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
  background: rgba(180, 227, 229, 0.5);
  cursor: pointer;
  user-select: none;
  opacity: 0;

  .product & {
    opacity: 1;
  }

  .product-card:hover & {
    opacity: 1;
  }

  .product-card &.is-fav {
    opacity: 1;
  }

  ._text {
    max-width: 0;
    padding-right: 0px;
    color: var(--ep-color-90);
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
    transition: all 0.33s linear;
    white-space: nowrap;
  }

  &:hover ._text {
    max-width: 300px;
    padding-right: 8px;
  }

  ._icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg path {
      stroke: var(--ep-color-90);
    }
  }

  &.is-fav {
    svg {
      animation: jello-horizontal 0.4s both;
      fill: var(--ep-color-90);
    }
  }
}
