.review-card {
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='155' height='113' viewBox='0 0 155 113' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M68.5577 11.8947V77.3158C68.5577 86.7798 64.7892 95.8563 58.0811 102.548C51.3731 109.24 42.2751 113 32.7885 113C31.2074 113 29.691 112.373 28.573 111.258C27.455 110.143 26.8269 108.63 26.8269 107.053C26.8269 105.475 27.455 103.963 28.573 102.847C29.691 101.732 31.2074 101.105 32.7885 101.105C39.1068 101.086 45.1608 98.573 49.6285 94.1158C54.0963 89.6587 56.615 83.6191 56.6346 77.3158V71.3684H11.9231C8.76088 71.3684 5.7282 70.1152 3.49219 67.8845C1.25618 65.6538 0 62.6284 0 59.4737V11.8947C0 8.74006 1.25618 5.71458 3.49219 3.48389C5.7282 1.25319 8.76088 0 11.9231 0H56.6346C59.7968 0 62.8295 1.25319 65.0655 3.48389C67.3015 5.71458 68.5577 8.74006 68.5577 11.8947ZM143.077 0H98.3654C95.2032 0 92.1705 1.25319 89.9345 3.48389C87.6985 5.71458 86.4423 8.74006 86.4423 11.8947V59.4737C86.4423 62.6284 87.6985 65.6538 89.9345 67.8845C92.1705 70.1152 95.2032 71.3684 98.3654 71.3684H143.077V77.3158C143.057 83.6191 140.539 89.6587 136.071 94.1158C131.603 98.573 125.549 101.086 119.231 101.105C117.65 101.105 116.133 101.732 115.015 102.847C113.897 103.963 113.269 105.475 113.269 107.053C113.269 108.63 113.897 110.143 115.015 111.258C116.133 112.373 117.65 113 119.231 113C128.717 113 137.815 109.24 144.523 102.548C151.231 95.8563 155 86.7798 155 77.3158V11.8947C155 8.74006 153.744 5.71458 151.508 3.48389C149.272 1.25319 146.239 0 143.077 0Z' fill='%23B4E3E5' fill-opacity='0.3' style='mix-blend-mode:darken'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    pointer-events: none;
  }

  ._content {
    margin-top: 32px;
    padding: 40px 42px;
    border-radius: 44px;
    background-color: var(--ep-color-30);
    font-size: var(--ep-font-16-fluid);

    p {
      position: relative;
      z-index: 2;
      margin-bottom: 12px;
    }
  }
}
