.benefits-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;

  .benefits-card {
    display: grid;
    border-radius: var(--ep-radius-44-fluid);
    background: var(--ep-color-40);

    @media (width > 460px) {
      grid-template-rows: max-content auto;
      gap: 12px;
      padding-inline: 12px;
      padding-bottom: 32px;
      text-align: center;
    }

    @media (width <= 460px) {
      display: grid;
      grid-template-columns: auto minmax(0, 1fr);
      align-items: center;
    }

    img {
      max-width: 200px;
      aspect-ratio: 1;
      justify-self: center;

      @media (width <= 460px) {
        padding: 10px;
        max-width: 150px;
      }
    }

    p {
      padding-inline: 12px;
      font-size: var(--ep-font-20-fluid);
      font-weight: 300;
    }
  }
}
