.clients-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--ep-spacer-24) var(--ep-spacer-64-fluid);

  .client-shortcut {
    display: inline-flex;
    text-decoration: none;

    &:hover {
      scale: 1.05;
    }

    @media (width < 1024px) {
      max-width: clamp(85px, 30%, 150px);
    }
  }
}
