.shortcuts-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--ep-spacer-24-fluid);

  .catalog-shortcut {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    max-width: 190px;
    width: min-content;
    padding: 6px var(--ep-spacer-24-fluid);
    border-radius: var(--ep-radius-24-fluid);
    background: var(--ep-color-surface-1);
    text-decoration: none;
    color: var(--ep-color-text-primary);

    &:hover {
      background: var(--ep-color-40);
    }

    img {
      width: auto;
      max-height: 44px;
    }

    span {
      font-size: var(--ep-font-14-fluid);
      font-weight: 300;
    }
  }
}
