.individual {
  display: grid;
  grid-template-columns: 100%;
  gap: 12px;
  padding-block: var(--ep-spacer-64-fluid);

  @media (width > 640px) {
    gap: 128px;
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
    grid-template-areas: "image num" "image text";
    gap: 6px;
    height: auto;
    padding: var(--ep-spacer-44-fluid) var(--ep-spacer-64-fluid)
      var(--ep-spacer-44-fluid) var(--ep-spacer-24-fluid);
    border-radius: var(--ep-radius-44-fluid);
    background: var(--ep-color-30);

    @media (width > 640px) {
      grid-template-columns: minmax(0, 2.15fr) minmax(0, 3fr) minmax(0, 2fr);
      grid-template-areas: "num image text";
      height: 226px;
    }

    aside {
      grid-area: num;
      font-size: 32px;
      font-weight: bold;

      @media (width > 640px) {
        position: absolute;
        bottom: 0px;
      }
    }

    ._num {
      width: 0;
      color: var(--ep-color-50);

      @media (width > 640px) {
        font-size: 300px;
        line-height: 44px;
        color: var(--ep-color-60);
      }
    }

    ._stage {
      color: var(--ep-color-50);

      @media (width > 640px) {
        writing-mode: vertical-rl;
        rotate: 180deg;
        color: var(--ep-color-80);
      }
    }

    ._image {
      grid-area: image;

      @media (width <= 640px) {
        margin-bottom: -27px;

        img {
          max-width: 150px;
        }
      }

      @media (width > 640px) {
        position: absolute;
        top: -84px;
      }
    }

    p {
      grid-area: text;
      align-self: end;
      font-size: var(--ep-font-18-fluid);
      font-weight: 300;
      text-wrap: balance;
    }
  }
}
