.product {
  container: product / inline-size;
  display: grid;
  grid-template-columns: 410px minmax(0, 1fr);
  // align-items: start;
  column-gap: 52px;
  row-gap: var(--ep-spacer-64-fluid);

  @media (width < 1024px) {
    grid-template-columns: 100%;
  }

  ._col {
    display: grid;
    grid-template-columns: 100%;
    gap: var(--ep-spacer-64-fluid);
    align-content: start;

    @media (width < 1024px) {
      display: contents;
    }
  }

  ._full {
    grid-column: 1/-1;
  }

  ._sticky {
    @media (width < 1024px) {
      display: contents;
    }
  }

  ._sticky {
    @media (height < 566px) and (width > 1023px) {
      display: contents;
    }

    @media (height >= 566px) and (width > 1023px) {
      position: sticky;
      top: calc(var(--ep-header-height) + var(--ep-spacer-24));
      display: grid;
      grid-template-columns: 100%;
      gap: var(--ep-spacer-64-fluid);
    }
  }
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 18px;
  padding-bottom: 13px;
  background: var(--ep-color-surface-0);

  @media (width < 1024px) {
    order: -10;
  }

  ._main-image {
    position: relative;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 320px;
    padding: var(--ep-spacer-32);
    background: rgba(0, 0, 0, 0.03);
    border-radius: var(--ep-radius-44-fluid);

    &.has-no-image {
      padding: var(--ep-spacer-16-fluid);
      background: transparent;
      
      .image-ph {
        filter: brightness(0.5);
      }
    }
  }

  ._item {
    max-height: 100px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: var(--ep-radius-24-fluid);;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.product-notice {
  font-size: 14px;
  font-weight: 300;

  a {
    font-weight: bold;
  }

  p + p {
    margin-top: 1rem;
  }
}

.product-useful-article {
  display: flex;
  flex-flow: column;
  padding: var(--ep-spacer-32-fluid);
  padding-top: 12px;
  align-items: center;
  gap: 12px;
  border-radius: var(--ep-radius-44-fluid);
  background: var(--ep-color-30);

  header {
    align-self: center;
    margin-bottom: 12px;
    padding: 2px 32px;
    border-radius: 44px;
    background-color: var(--ep-color-60);
    color: var(--ep-color-80);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.44px;
    text-transform: uppercase;
  }

  a {
    color: var(--ep-color-text-primary);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ._image {
    border-radius: var(--ep-radius-24-fluid);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.product-info {
  display: grid;
  grid-template-columns: 100%;
  gap: 32px;

  @media (width < 1024px) {
    order: -5;
  }

  ._title {
    font-size: clamp(1.625rem, 2.5vw + 0.5rem, 2.125rem); //34px;
    font-weight: 700;
  }

  ._props {
    margin-top: var(--ep-spacer-16-fluid);
  }

  ._code {
    margin-top: var(--ep-spacer-16-fluid);
    font-size: var(--ep-font-18-fluid);
    font-weight: 300;
  }

  ._actions {
    display: flex;
    gap: 18px;

    @media (width < 1024px) {
      flex-direction: column;
    }
  }

  ._description {
    font-size: var(--ep-font-16-fluid);
    line-height: 1.66;
  }
}

.product-order {
  justify-self: end;

  @media (width < 1024px) {
    order: -3;
  }
}

.product-props {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(64px, clamp(4rem, 5vw + 2rem, 5.875rem)));
  justify-content: space-between;
  gap: 6px;

  ._item {
    display: flex;
    align-items: center;
    justify-content: start;
    width: clamp(4rem, 5vw + 2rem, 5.875rem); //94px;
    height: clamp(4rem, 5vw + 2rem, 5.875rem); //94px;
    padding: var(--ep-spacer-16-fluid);
    border-radius: var(--ep-radius-24-fluid);
    background-color: var(--ep-color-40);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.product-specs {
  display: flex;
  flex-flow: column;
  gap: 8px;

  ._title {
    font-size: var(--ep-font-24);
    font-weight: 700;
  }

  ._item {
    display: flex;
    justify-content: space-between;
    gap: var(--ep-spacer-16);
    font-size: var(--ep-font-14);
  }

  ._label {
    color: var(--ep-color-text-secondary);
    font-weight: 300;
  }

  ._value {
    color: var(--ep-color-accent-dark);
  }
}

.product-description {
  header + h2 {
    margin-top: 0;
  }

  h2 {
    margin-block: var(--ep-spacer-32-fluid) var(--ep-spacer-24-fluid);
    font-size: var(--ep-font-24-fluid);
    font-weight: 500;
  }

  p,
  li {
    margin-bottom: var(--ep-spacer-24-fluid);
    font-size: var(--ep-font-15-fluid);
    line-height: 1.66;
    font-weight: 300;
  }

  p:has(+ :where(ul, ol)) {
    margin-bottom: var(--ep-spacer-16-fluid);
  }

  ul {
    list-style-position: inside;

    li {
      margin-bottom: var(--ep-spacer-16);

      &::marker {
        color: var(--ep-color-70);
      }
    }
  }
}
