.product-card {
  --_product-card-bg: var(--ep-color-80);

  position: relative;
  display: flex;
  flex-flow: column;
  gap: 6px;

  &:hover {
    --_product-card-bg: var(--ep-color-85);
  }

  @media (width > 768px) {
    gap: 12px;
    padding: 26px;
    padding-top: 32px;
    border-radius: 44px;
    background-color: var(--_product-card-bg);
  }

  ._wrap {
    max-height: 200px;
    aspect-ratio: 1;
    padding: 12px;
    border-radius: 18px;
    background-color: var(--_product-card-bg);

    @media (width > 768px) {
      display: contents;
    }
  }

  a {
    text-decoration: none;
  }

  ._image {
    order: -1;
    max-height: 200px;
    aspect-ratio: 1;
  }

  ._props {
    position: absolute;
    left: 12px;
    top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    
    @media (width > 768px) {
      order: 10;
      left: 24px;
      top: 24px;
    }
  }

  ._title {
    order: 5;
    color: var(--ep-color-90);
    font-size: clamp(0.875rem, 1.25vw + 0.5rem, 1.25rem); // 20px;
    font-weight: 700;
    text-wrap: balance;

    @media (width <= 768px) {
      padding-inline: 8px;
    }

    @media (width > 768px) {
      text-align: center;
      color: var(--ep-color-text-primary-inverse);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  ._description {
    order: 50;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: clamp(0.625rem, 0.75vw + 0.25rem, 0.75rem); // 12px;

    @media (width <= 768px) {
      padding-inline: 8px;
    }
  }

  .product-favorite {
    @media (width <= 768px) {
      right: 12px;
      top: 12px;
    }
  }
}
