.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 24px 12px;

  @media (width > 768px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 32px;
  }

  .empty-search {
    grid-column: 1/-1;
  }

  .empty-favorite {
    grid-column: 1/-1;
  }
}

.empty-search {
  display: flex;
  flex-flow: column;
  align-items: center;

  p {
    margin-top: 24px;
  }
}

.empty-favorite {
  display: flex;
  flex-flow: column;
  align-items: center;

  p {
    margin-block: 24px 2px;
  }

  a {
    margin-top: 8px;
  }
}
