// ОБЩИЕ ПРАВИЛА ДЛЯ ПРИЛОЖЕНИЯ
:root {
  --ep-font-family-primary: "Inter", sans-serif;
}

html,
body {
  min-height: 100dvh;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--ep-font-family-primary);
  color: var(--ep-color-text-primary);
  font-size: 16px;
  accent-color: var(--ep-color-accent);
  overflow-y: scroll;
}

.container {
  width: min(100%, 1024px);
  margin-inline: auto;
  padding-inline: 24px;

  .app-content & {
    @media (width < 1024px) {
      width: min(100%, 640px);
    }

    @media (width < 768px) {
      width: min(100%, 576px);
    }
  }
}

.app-page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.app-view {
  padding-block: 56px 96px;
}

.app-section {
  padding-block: 96px;
}

:where(h1, h2, h3) {
  font-size: inherit;
  font-weight: inherit;
}

.app-link {
  color: var(--ep-color-70);

  &:hover {
    color: var(--ep-color-80);
  }
}

// КНОПКА
.app-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  border: 0;
  padding-inline: 44px;
  border-radius: 44px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;

  &.big {
    height: 56px;
    font-size: 18px;
  }

  &.accent {
    background: var(--ep-color-70);
    color: var(--ep-color-text-primary-inverse);

    &:hover {
      background: var(--ep-color-80);
    }
  }

  &.ghost {
    color: inherit;
    border: 2px solid currentColor;

    &:hover {
      background: color-mix(in oklab, var(--ep-color-90) 10%, transparent);
    }
  }

  &.ghost.accent {
    color: var(--ep-color-accent-dark);
    border: 1px solid var(--ep-color-70);
    background: transparent;

    &:hover {
      background: color-mix(in oklab, var(--ep-color-70) 10%, transparent);
    }
  }
}

// Формы
label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  cursor: pointer;
}

input[type="text"] {
  max-width: 330px;
  padding: 16px 24px;
  border: 1px solid var(--ep-color-50);
  border-radius: 44px;
  outline: 0;
  background: var(--ep-color-surface-0);
  color: var(--ep-color-text-primary);
  font-family: var(--ep-font-family-primary);
  caret-color: var(--ep-color-accent);

  &::placeholder {
    color: var(--ep-color-50);
    font-family: var(--ep-font-family-primary);
  }

  &:hover {
    border-color: var(--ep-color-60);
  }

  &:focus {
    border-color: var(--ep-color-70);
  }
}

// Хлебные крошки
.app-breadcrumbs {
  display: flex;
  padding-bottom: 32px;
  gap: 12px;

  @media (width < 768px) {
    display: none;
  }

  > ._item {
    display: flex;
    gap: 12px;
    font-size: 14px;

    &:not(:last-child)::after {
      content: "•";
      color: var(--ep-color-50);
    }
  }

  a {
    color: var(--ep-color-50);
    text-decoration: none;

    &:hover { 
      color: var(--ep-color-100);
    }
  }

  span {
    color: var(--ep-color-80);
    cursor: default;
  }
}
