// ОБЩИЕ ПРАВИЛА ДЛЯ ПРИЛОЖЕНИЯ
:root {
  --ep-font-family-primary: "Inter", sans-serif;
}

html,
body {
  min-height: 100dvh;
}

body {
  font-family: var(--ep-font-family-primary);
  color: var(--ep-color-text-primary);
  font-size: 16px;
}

.container {
  width: min(100%, 1024px);
  margin-inline: auto;
  padding-inline: 32px;
}

.app-page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.app-view {
  padding-block: 64px;
}

.app-section {
  padding-block: 96px;
}

:where(h1, h2, h3) {
  font-size: inherit;
  font-weight: inherit;
}

// КНОПКА
.app-button {
  display: inline-flex;
  align-items: center;
  height: 44px;
  border: 0;
  padding-inline: 32px;
  border-radius: 44px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;

  &.big {
    height: 56px;
    font-size: 18px;
  }

  &.accent {
    background: var(--ep-color-70);
    color: var(--ep-color-text-primary-inverse);

    &:hover {
      background: var(--ep-color-80);
    }
  }

  &.ghost {
    color: inherit;
    border: 2px solid currentColor;

    &:hover {
      background: color-mix(in oklab, var(--ep-color-90) 10%, transparent);
    }
  }
}

// Формы
input[type="text"] {
  max-width: 330px;
  padding: 16px 24px;
  border: 1px solid var(--ep-color-50);
  border-radius: 44px;
  outline: 0;
  background: var(--ep-color-surface-0);
  color: var(--ep-color-text-primary);
  font-family: var(--ep-font-family-primary);

  &::placeholder {
    color: var(--ep-color-50);
    font-family: var(--ep-font-family-primary);
  }

  &:hover {
    border-color: var(--ep-color-60);
  }

  &:focus {
    border-color: var(--ep-color-70);
  }
}
