.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-light {
  font-weight: 300;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.font-34 {
  font-size: 34px;
}

.color-90 {
  color: var(--ep-color-90);
}

.color-60 {
  color: var(--ep-color-60);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-page-header {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

.hide-on-pointer-fine {
  @media (pointer: fine) {
    display: none;
  }
}
