.hero-section {
  background: url(/images/hero-bg.jpg);
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--ep-color-text-primary-inverse);

  ._inner {
    display: grid;
    grid-template-columns: 100%;
    gap: 54px;
    padding-block: 64px;
    // padding-right: 30%;
    // background: url('/images/cups-bg.png');
    // background-repeat: no-repeat;
    // background-position: calc(100% - 10vw) center;
  }

  ._header {
    h1 {
      margin-bottom: 12px;
      font-size: 48px;
      font-weight: 700;
    }

    h2 {
      color: var(--ep-color-60);
      font-size: 24px;
    }
  }

  ._benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  ._benefits-item {
    display: flex;
    flex-flow: column;
    gap: 6px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
  }

  ._actions {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.catalog-block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 32px;
}

.benefits-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;

  .benefits-card {
    display: grid;
    grid-template-rows: max-content auto;
    gap: 12px;
    padding-inline: 12px;
    padding-bottom: 32px;
    border-radius: 44px;
    background: var(--ep-color-40);
    text-align: center;

    img {
      max-width: 100%;
      aspect-ratio: 1;
    }

    p {
      padding-inline: 12px;
      font-size: 20px;
      font-weight: 300;
    }
  }
}

.shortcuts-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  .catalog-shortcut {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    max-width: 190px;
    padding: 12px 24px;
    border-radius: 12px;
    background: var(--ep-color-surface-1);
    text-decoration: none;
    color: var(--ep-color-text-primary);

    &:hover {
      background: var(--ep-color-40);
    }

    img {
      width: auto;
      max-height: 44px;
    }

    span {
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.clients-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px 64px;

  .client-shortcut {
    display: inline-flex;
    text-decoration: none;

    &:hover {
      scale: 1.05;
    }
  }
}
