.feedback-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 24px;
  padding: 32px;
  border-radius: 44px;
  background: var(--ep-color-surface-1);
  text-align: center;

  ._title {
    font-size: var(--ep-font-18-fluid);
    font-weight: 700;
  }

  ._subtitle {
    font-size: 20px;
    font-weight: 700;
  }

  ._contacts {
    display: flex;
    flex-flow: column;
    gap: 16px;

    a {
      display: flex;
      gap: 6px;
      color: var(--ep-color-text-primary);
      font-size: 14px;
      font-weight: 700;
      text-decoration: none;

      &:hover {
        color: var(--ep-color-accent);
      }
    }
  }
}
