.iml-form-block {
  padding-top: 96px;

  ._inner {
    border-radius: 44px;
    background: var(--ep-color-30);
  }
}

.iml-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-areas: "image header" "image body";
  max-height: 394px;
  padding: 0 36px;
  isolation: isolate;

  @media (width < 1024px) {
    grid-template-areas: "header image" "body body";
    row-gap: 64px;
    padding: 32px;
  }

  ._header {
    grid-area: header;
    display: flex;
    flex-flow: column;
    gap: 8px;
    text-wrap: balance;

    @media (width > 1024px) {
      padding: 42px;
    }
  }

  ._body {
    grid-area: body;
    align-self: end;
    display: flex;
    flex-flow: column;
    gap: 16px;
    
    @media (width > 1024px) {
      padding: 42px;
    }
  }

  ._image {
    grid-area: image;
    display: grid;
    place-content: end;
    max-height: 370px;
    

    img {
      max-height: 100%;
    }

    @media (width < 1024px) {
      transform: rotate(10deg) scale(1.4);
      z-index: -1;
    }
  }
}
