.about-page {
  display: grid;
  grid-template-columns: 100%;
  align-items: start;
  gap: 18px;

  &.has-float-side {
    @media (width > 900px) {
      grid-template-columns: minmax(0, 1fr) 320px;
    }
  }

  ._float-side {
    position: sticky;

    @media (width > 900px) {
      top: calc(var(--ep-header-height) + 56px);
    }

    @media (width < 900px) {
      bottom: 30px;
      z-index: 10;
    }
  }
}
