// "Сертификаты"
.document-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
  justify-content: space-evenly;
  gap: 32px;

  ._item {
    display: flex;
    flex-flow: column;
    gap: 32px;
  }

  ._image {
    background: var(--ep-color-50);
  }

  ._description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
}
