// "Процесс работы"
.process-view {
  padding-bottom: 96px;

  &__group {
    display: flex;
    flex-flow: column;
    gap: 32px;

    ._num {
      width: 0;
      color: var(--ep-color-80);
      font-size: 240px;
    }

    ._stage {
      font-size: 32px;
      font-weight: 700;
      writing-mode: vertical-rl;
      rotate: 180deg;
      color: var(--ep-color-80);
    }

    ._header {
      display: grid;
      grid-template-columns: 25% minmax(0, 1fr);
      line-height: 0.8;

      aside {
        z-index: 2;
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        line-height: 0.95;
      }

      h2 {
        align-self: end;
        grid-column: 1/-1;
        grid-row: 1/2;
        padding-left: 25%;
        padding-block: 48px 32px;
        border-radius: 32px;
        background: var(--ep-color-40);
        color: var(--ep-color-accent-dark);
        font-size: 54px;
        line-height: inherit;
      }
    }
  }

  &__group-items {
    display: flex;
    flex-direction: column;

    @media (width > 959px) {
      gap: 24px;
      padding-left: 25%;
    }

    ._item {
      padding: 32px;
      border-radius: 32px;
      background: var(--ep-color-30);

      @media (width > 959px) {
        display: grid;
        grid-template-columns: auto 165px minmax(0, 1fr);
        align-items: center;
        gap: 32px;
      }
    }

    ._name {
      font-size: 18px;
      font-weight: 700;
    }

    ._description {
      font-weight: 300;
    }
  }
}
