// "Процесс работы"
.process-view {
  &__group {
    --_h-offset: 33%;
    display: flex;
    flex-flow: column;
    gap: 32px;

    @media (width > 959px) {
      --_h-offset: 27%;
    }

    ._num {
      width: 0;
      color: var(--ep-color-80);
      font-size: clamp(7.5rem, 18vw + 0.5rem, 15rem); // 240px;
    }

    ._stage {
      font-size: clamp(0.875rem, 2.4vw + 0.25rem, 2rem); // 32px;
      font-weight: 700;
      writing-mode: vertical-rl;
      rotate: 180deg;
      color: var(--ep-color-80);
    }

    ._header {
      display: grid;
      grid-template-columns: var(--_h-offset) minmax(0, 1fr);
      line-height: 0.8;

      aside {
        z-index: 2;
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: center;
        line-height: 0.95;
      }

      h2 {
        align-self: end;
        grid-column: 1/-1;
        grid-row: 1/2;
        padding-left: var(--_h-offset);
        padding-block: clamp(2.25rem, 3.5vw + 0.75rem, 3rem)
          clamp(0.875rem, 5.5vw - 1rem, 2rem);
        border-radius: var(--ep-radius-44-fluid);
        background: var(--ep-color-40);
        color: var(--ep-color-accent-dark);
        font-size: clamp(1.5rem, 3.5vw + 0.45rem, 3.375rem);
        font-weight: 700;
        line-height: inherit;
      }
    }
  }

  &__group-items {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (width > 959px) {
      padding-left: var(--_h-offset);
    }

    ._item {
      display: grid;
      grid-template-columns: auto minmax(0, 1fr);
      align-items: center;
      gap: 12px;
      padding: var(--ep-spacer-32-fluid);
      border-radius: 32px;
      background: var(--ep-color-30);

      @media (width > 959px) {
        display: grid;
        grid-template-columns: auto 165px minmax(0, 1fr);
        align-items: center;
        gap: 32px;
      }
    }

    ._name {
      font-size: var(--ep-font-18-fluid);
      font-weight: 700;
    }

    ._description {
      font-weight: 300;
      font-size: var(--ep-font-16-fluid);

      @media (width < 959px) {
        grid-column: 1/-1;
      }
    }
  }
}
