.reviews-list {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  // align-items: start;
  // gap: 32px;

  columns: 240px;
  column-gap: 32px;

  .review-card {
    display: inline-flex;
    margin-bottom: 32px;
  }
}
