.not-found {
  ._inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-block: 96px;
    gap: var(--ep-spacer-32-fluid);
  }

  ._text {
    display: flex;
    flex-flow: column;
    gap: var(--ep-spacer-12);
  }

  ._code {
    color: var(--ep-color-40);
    font-size: 196px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: var(--ep-spacer-32-fluid);
  }
}
