.not-found {
  ._inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-block: var(--ep-spacer-96-fluid);
    gap: var(--ep-spacer-32-fluid);
  }

  ._text {
    display: flex;
    flex-flow: column;
    gap: var(--ep-spacer-12);
    text-wrap: balance;
  }

  ._code {
    color: var(--ep-color-40);
    font-size: clamp(116px, 25vw, 196px);
    font-weight: 700;
    line-height: 1;
    margin-bottom: var(--ep-spacer-32-fluid);
  }
}
