.app-footer {
  --_c: rgba(1, 80, 95, 0.6);

  background-color: var(--ep-color-90);
  background-image: linear-gradient(var(--_c), var(--_c)),
    url("/images/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--ep-color-text-primary-inverse);

  ._inner {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: 24px;
    padding-block: 54px 24px;

    @media (width < 950px) {
      grid-template-columns: 100%;
      justify-items: center;
    }

    ._a,
    ._c {
      display: flex;
      flex-flow: column;
      gap: 32px;
    }

    ._a {
      align-items: flex-start;
    }

    ._a,
    ._b {
      @media (width < 950px) {
        display: none;
      }
    }

    ._c {
      gap: 6px;
      grid-column: 1/-1;
    }
  }

  ._logo {
    width: 200px;
  }

  ._copy {
    opacity: 0.5;
    text-align: right;

    @media (width < 950px) {
      text-align: center;
      margin-bottom: 24px;
    }
  }

  ._sidelinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    @media (width < 950px) {
      flex-direction: column;
    }

    a {
      font-size: 12px;
      color: var(--ep-color-text-primary-inverse);
      text-decoration: none;
      opacity: 0.5;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
