// Хлебные крошки
.app-breadcrumbs {
  display: flex;
  padding-bottom: 32px;
  gap: 12px;

  @media (width < 768px) {
    display: none;
  }

  > ._item {
    display: flex;
    gap: 12px;
    font-size: 14px;
    max-width: min(25ch, 250px);

    &:not(:last-child)::after {
      content: "•";
      color: var(--ep-color-50);
    }

    :where(span, a) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  a {
    color: var(--ep-color-50);
    text-decoration: none;

    &:hover {
      color: var(--ep-color-100);
    }
  }

  span {
    color: var(--ep-color-80);
    cursor: default;
  }
}
