// КНОПКА
.app-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  border: 0;
  padding-inline: 44px;
  border-radius: 44px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;

  &.big {
    height: 56px;
    font-size: 18px;
  }

  &.accent {
    background: var(--ep-color-70);
    color: var(--ep-color-text-primary-inverse);

    &:hover {
      background: var(--ep-color-80);
    }
  }

  &.accent.dark {
    background: var(--ep-color-80);

    &:hover {
      background: var(--ep-color-85);
    }
  }

  &.ghost {
    color: inherit;
    border: 2px solid currentColor;

    &:hover {
      background: color-mix(in oklab, var(--ep-color-90) 10%, transparent);
    }
  }

  &.ghost.accent {
    color: var(--ep-color-accent-dark);
    border: 1px solid var(--ep-color-70);
    background: transparent;

    &:hover {
      background: color-mix(in oklab, var(--ep-color-70) 10%, transparent);
    }
  }
}
