.app-dialog {
  position: relative;
  display: none;
  max-width: 90vw;
  padding: var(--ep-spacer-32-fluid);
  border-radius: var(--ep-radius-44-fluid);
  background: var(--ep-color-surface-1);
  opacity: 1;
  box-shadow: 0 0 0 100vw rgba(0,0,0,.3);
  transition-property: opacity, display;
  transition-duration: 0.25s;

  &.is-shown {
    display: block;
  }

  @starting-style {
    opacity: 0;
  }

  &__body {
    height: 100%;
  }
}

body:has(.app-dialog.is-shown) {
  overflow: hidden;
  
  > :where(.app-header, .app-content, .app-footer) {
    padding-right: var(--_get-scrollbar-width); // app.js
  }
}
