.app-dialog {
  position: relative;
  display: none;
  padding: 32px;
  border-radius: 44px;
  background: var(--ep-color-surface-1);
  opacity: 1;
  box-shadow: 0 0 0px 10px #fffa;
  transition-property: opacity, display;
  transition-duration: 0.25s;

  &.is-shown {
    display: block;
  }

  @starting-style {
    opacity: 0;
  }
}
