// Формы
label {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  cursor: pointer;
}

input[type="text"] {
  max-width: 330px;
  padding: 16px 24px;
  border: 1px solid var(--ep-color-50);
  border-radius: 44px;
  outline: 0;
  background: var(--ep-color-surface-0);
  color: var(--ep-color-text-primary);
  font-family: var(--ep-font-family-primary);
  caret-color: var(--ep-color-accent);

  &::placeholder {
    color: var(--ep-color-50);
    font-family: var(--ep-font-family-primary);
  }

  &:hover {
    border-color: var(--ep-color-60);
  }

  &:focus {
    border-color: var(--ep-color-70);
  }
}

.app-checkbox {
  input {
    display: none;
  }

  label {
    display: flex;
    gap: 12px;

    &::before {
      content: "";
      width: 1em;
      height: 1em;
      border: 1px solid var(--ep-color-50);
      border-radius: 5px;
      background: transparent;
    }

    &:hover::before {
      border-color: var(--ep-color-60);
    }
  }

  input:checked ~ label {
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.67179 0.266602C8.52795 0.266602 8.38484 0.29303 8.25037 0.345061C8.1159 0.397087 7.99159 0.474201 7.88549 0.573307L3.78145 4.4056L2.1251 2.85908C2.02026 2.75859 1.89699 2.68 1.76314 2.62631C1.62786 2.57206 1.48345 2.54389 1.33808 2.54271C1.19271 2.54153 1.04788 2.56735 0.911752 2.61935C0.775593 2.67136 0.649804 2.74896 0.542514 2.84913C0.435153 2.94937 0.348311 3.07042 0.288832 3.20616C0.229307 3.342 0.198855 3.48884 0.200241 3.63776C0.201627 3.78668 0.234804 3.9329 0.29677 4.06759C0.358025 4.20073 0.445741 4.31905 0.553183 4.41677L2.96505 6.66831C3.07517 6.77113 3.20413 6.8511 3.34382 6.90513C3.48351 6.95916 3.6322 6.98662 3.78168 6.98662C3.93116 6.98662 4.07985 6.95916 4.21954 6.90513C4.35926 6.85108 4.48825 6.7711 4.59838 6.66825L9.45802 2.13083C9.6728 1.93023 9.80022 1.65088 9.80022 1.35204C9.80022 1.05323 9.67282 0.7739 9.45808 0.573307C9.35196 0.474159 9.22771 0.397104 9.09321 0.345061C8.95874 0.29303 8.81563 0.266602 8.67179 0.266602Z' fill='%2337CCCC'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
