// ОБЩИЕ ПРАВИЛА ДЛЯ ПРИЛОЖЕНИЯ
:root {
  --ep-font-family-primary: "Inter", sans-serif;
  --ep-header-height: 65px;
}

html {
  overflow-y: overlay;
  scrollbar-width: thin;
  scrollbar-color: var(--ep-color-90) var(--ep-color-50);

  &.lg-on,
  &:has(.app-dialog.is-shown) {
    overflow: hidden;
    scrollbar-gutter: stable; 
  }
}

html,
body {
  min-height: 100dvh;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--ep-color-text-primary);
  accent-color: var(--ep-color-accent);
  font-family: var(--ep-font-family-primary);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

.container {
  width: clamp(320px, 100%, 967px);
  margin-inline: auto;

  @media (width < 1024px) {
    width: min(100%, 768px);
    padding-inline: var(--ep-spacer-24);
  }

  .app-content & {
    @media (width < 1024px) {
      width: clamp(320px, 100%, 640px);
      padding-inline: var(--ep-spacer-32);
    }
  }
}

.app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(0, 1fr) auto;
  font-size: var(--ep-font-16-fluid);
}

.app-page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.app-view {
  padding-block: 56px var(--ep-spacer-96-fluid);

  @media (width < 1024px) {
    padding-block: var(--ep-spacer-96-fluid);
  }
}

.app-section {
  padding-block: 64px;
  background: var(--ep-color-surface-0);
  overflow-x: hidden;

  @media (width < 768px) {
    padding-block: var(--ep-spacer-64-fluid);
  }

  &.has-dark-bg {
    background: var(--ep-color-surface-1);
  }

  .container > ._header {
    margin-bottom: var(--ep-spacer-64-fluid);
  }

  .container > ._action {
    display: flex;
    justify-content: center;
    margin-top: var(--ep-spacer-64-fluid);
  }
}

:where(h1, h2, h3) {
  font-size: inherit;
  font-weight: inherit;
  text-wrap: balance;
}

.app-link {
  color: var(--ep-color-70);

  &:hover {
    color: var(--ep-color-80);
  }
}

// alpinejs
[x-cloak] {
  display: none !important;
}

.app-general-content {
  header:not([class]) {
    margin-bottom: var(--ep-spacer-64-fluid);
  }

  header:not([class]) + h2:not([class]) {
    margin-top: 0;
  }

  h2:not([class]) {
    font-size: 28px;
    font-weight: 500;
    margin-block: 32px var(--ep-spacer-24);
  }

  p:not([class]),
  li:not([class]) {
    margin-bottom: var(--ep-spacer-24);
    font-size: var(--ep-font-18-fluid);
    line-height: 1.66;
    font-weight: 300;
  }

  :where(ol, ul):not([class]) {
    list-style-position: inside;

    &:not(:last-child) {
      margin-bottom: var(--ep-spacer-24-fluid);
    }

    li:not([class]) {
      margin-bottom: 0;

      &::marker {
        color: var(--ep-color-70);
      }
    }
  }

  img:not([class]) {
    border-radius: var(--ep-radius-44-fluid);

    &:not(:last-child) {
      margin-block: var(--ep-spacer-44-fluid);
    }
  }

  iframe {
    border-radius: var(--ep-radius-24);
  }
}
