.blogpost-content {
  display: grid;
  grid-template-columns: 100%;
  justify-items: start;
  gap: var(--ep-spacer-24);

  ._preview {
    display: flex;
    column-gap: 52px;
    row-gap: var(--ep-spacer-24);

    ._preview-image {
      height: 300px;
      aspect-ratio: 4/3;
      flex-shrink: 0;

      @media (width < 640px) {
        width: 100%;
        aspect-ratio: initial;
      }
    }

    @media (width < 1024px) {
      flex-wrap: wrap-reverse;
    }
  }

  ._meta {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  header:not([class]) {
    margin-bottom: var(--ep-spacer-64-fluid);
  }

  header:not([class]) + h2:not([class]) {
    margin-top: 0;
  }

  h2:not([class]) {
    font-size: 28px;
    font-weight: 500;
    margin-block: 32px var(--ep-spacer-24);
  }

  p:not([class]),
  li:not([class]) {
    font-size: var(--ep-font-18-fluid);
    line-height: 1.66;
    font-weight: 300;

    &:not(:last-child) {
      margin-bottom: var(--ep-spacer-24);
    }
  }

  ul:not([class]) {
    list-style-position: inside;

    li:not([class]) {
      margin-bottom: var(--ep-spacer-24);

      &::marker {
        color: var(--ep-color-70);
      }
    }
  }

  img:not([class]) {
    border-radius: var(--ep-radius-44-fluid);

    &:not(:last-child) {
      margin-block: var(--ep-spacer-44-fluid);
    }
  }

  iframe {
    border-radius: var(--ep-radius-24);
  }
}
