.blogpost-content {
  display: grid;
  grid-template-columns: 100%;
  justify-items: start;
  gap: var(--ep-spacer-24);

  ._preview {
    display: flex;
    column-gap: 52px;
    row-gap: var(--ep-spacer-24);

    ._preview-image {
      height: 300px;
      aspect-ratio: 4/3;
      flex-shrink: 0;

      @media (width < 640px) {
        width: 100%;
        aspect-ratio: initial;
      }
    }

    @media (width < 1024px) {
      flex-wrap: wrap-reverse;
    }
  }

  ._meta {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
