.blogpost-content {
  display: grid;
  grid-template-columns: 100%;
  justify-items: start;
  gap: 24px;

  ._preview {
    display: flex;
    column-gap: 52px;
    row-gap: 24px;

    ._preview-image {
      height: 300px;
      aspect-ratio: 4/3;
      flex-shrink: 0;
    }

    @media (width < 1024px) {
      flex-wrap: wrap-reverse;
    }
  }

  header:not([class]) {
    margin-bottom: var(--ep-spacer-64-fluid);
  }

  header:not([class]) + h2:not([class]) {
    margin-top: 0;
  }

  h2:not([class]) {
    font-size: 28px;
    font-weight: 500;
    margin-block: 32px 24px;
  }

  p:not([class]),
  li:not([class]) {
    font-size: var(--ep-font-18-fluid);
    line-height: 1.66;
    font-weight: 300;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  ul:not([class]) {
    list-style-position: inside;

    li:not([class]) {
      margin-bottom: 24px;

      &::marker {
        color: var(--ep-color-70);
      }
    }
  }
}
